target_base=${CARGO_TARGET_BASE:-/data/main/cargo-target}
project_slug=${PWD##*/}
project_hash=$(printf '%s' "$PWD" | sha256sum | cut -c1-12)

export CARGO_TARGET_DIR="$target_base/$project_slug-$project_hash"
mkdir -p "$CARGO_TARGET_DIR"
